html, body{
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    width: 50%;
    height:50%;
    margin-top:-10%;
    margin-left:-25%;
    position:absolute;
    top:50%;
    left:50%;
}