html, body{
    margin: 0;
    padding: 0;
}

.form-style-8{
    width: 50%;
    padding: 30px;
    background: #FFFFFF;
    margin: 80px auto;
    position: relative;
}

.form-style-8 input[type="search"],
.form-style-8 textarea,
.form-style-8 select 
{
    margin: 10px;
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
